body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0078D7;
    color: white;
    padding: 0px 20px;
    width: 100%;
    box-sizing: border-box;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 50px;
    width: 50px;
    margin: 10px;
  
}

header .title {
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
}

header .kembali-button {
    background-color: white;
    color: #0078D7;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.form-container {
    margin-top: 12vh;
    justify-content: center;
    background: white;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50vh;
    text-align: center;
}

.form-container h1 {
    margin: 0 0 30px;
    color: #0078D7;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    
}

.form-group label {
    text-align: left;
    color: #555;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form-group ::placeholder {
    color: #d8d8d8;
}


button {
    background-color: #0078D7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin: 20px auto 0;
    width: 100px;
    text-align: center;
}

#submit-button {
    background-color: #0078D7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin: 20px auto 0;
    width: 100px;
    text-align: center;
}

#submit-button:hover {
    background-color: #005bb5;
}

.signupin-link {
    margin-top: 10px;
    color: #555;
}

.signupin-link a {
    color: #0078D7;
    text-decoration: none;
    font-weight: bold;
}

.signupin-link a:hover {
    text-decoration: underline;
}
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}