/* Reset CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0078D7;
    color: white;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    /* Tetap di atas */
    top: 0;
    left: 0;
    z-index: 1000;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

header .title {
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
}

header .kembali-button {
    background-color: white;
    color: #0078D7;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

header .kembali-button:hover {
    background-color: #e6e6e6;
}

/* Form Container */
.form-container {
    margin-top: 80px;
    /* Tambahkan margin untuk mengimbangi tinggi header */
    justify-content: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #0078D7;
}

/* Form Styling */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    text-align: left;
    display: block;
    color: #555;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-group input:focus {
    border-color: #0078D7;
    outline: none;
}

/* Buttons */
.login-buttons button {
    background-color: #0078D7;
    color: white;
    border: none;
    padding: 10px 100px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-buttons button:hover {
    background-color: #005bb5;
}

/* Signup Link */
.signupin-link {
    margin-top: 15px;
}

.signupin-link p {
    font-size: 14px;
    color: #555;
}

.signupin-link a {
    color: #0078D7;
    text-decoration: none;
    font-weight: bold;
}

.signupin-link a:hover {
    text-decoration: underline;
}